body{
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
margin: 0 auto;
}

p, h1, h2, h3, h4, h5, h6{
margin: 0;
padding: 0;
}

ul{
list-style-type: none;
margin: 0;
padding: 0;
}

a{
text-decoration: none;
}

button{
cursor: pointer;
} 

address{
font-style: normal;
}

img{
display: block;
}


.container {
/* width: 1158px;
padding-left: 15px;
padding-right: 15px; */
width: 320px;
padding-left: 28px;
padding-right: 28px;
margin: 0 auto;
/* margin-right: 156px;
margin-left: 156px; */
}

header-link-item.header-stadio{
    position: relative;
}


/*--head--*/


.header .header-container{
display: flex;
align-items: center;
margin: 0 auto;

padding-top: 16px;
padding-bottom: 16px;
padding-left: 16px;
padding-right: 16px;

justify-content: space-between;
}


.header {
position: relative;
padding-right: 24px;
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}


.header-navigation {
display: flex;
justify-content: flex-start;
align-items: center;

/* margin-right: 332px; */
}

.header-logo-link {
position: relative;
font-family: "Raleway", sans-serif;
line-height: 1.17;
font-weight: 700;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;

/* margin-right: 76px; */
}

.italic{
color: #2e2f42;
}


.header-menu {
display: none;           /*-----------------*/

align-items: center;
gap: 40px;
}

.header-link-item {
display: block;
padding: 24px 0;
font-weight: 500;
font-size: 16px;
line-height: 24px; 
letter-spacing: 0.02em;
color: #2e2f42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-item.header-stadio {
    position: relative;
}

.header-link-item.header-stadio::after{
    content: '';
    left: 0;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.header-link-item:hover,
.header-link-item:focus,
.header-link-item:active,
.header-link-item.header-stadio{
color: #404bbf;
}


.header-contacts {
font-style: normal;

display: none;           /*-----------------*/

align-items: center;
}

.header-menu-address{
display: flex;
align-items: center;
gap: 40px;

}

.header-contacts-item {
display: block;
padding: 24px 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-item:hover,
.header-contacts-item:focus,
.header-contacts-item:active{
color: #404bbf;
}


.menu-open{
padding: 0;
background-color: transparent;
border: none;
}

.menu-svg-open{
display: block;
fill: #2f2f37;
}



/*---------mod------------*/
.mod-menu {
    /* width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFFFFF;
    z-index: 999; */
}

.menu-close {}

.menu-svg-close {}

.mod-navigation {}

.mod-link-item {}

.mod-stadio {}

.mod-contacts {}

.mod-menu-address {}

.mod-contacts-item {}


/*--section1--*/


.hero {
background: #2e2f42;
/* padding-top: 188px;
padding-bottom: 188px; */

padding-top: 72px;
padding-bottom: 72px;

background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-office-mb-1.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
max-width: 1440px;
margin: 0 auto;

@media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2){
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-office-mb-2.jpg);
}
}



.hero-title {
line-height: 1.07;
font-weight: 700;
/* font-size: 56px; */

font-size: 36px;
text-align: center;
line-height: 1.11;

letter-spacing: 0.02em;
text-align: center;
color: #fff;
/* margin-bottom: 48px; */

max-width: 216px;


/*margin-left: 52px;
margin-right: 52px;*/

margin-left: auto;
margin-right: auto;


margin-bottom: 72px;

/* margin: 0 auto 28px; */
}

.hero-button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.04em;
color: #fff;
background: #4d5ae5;
cursor: pointer;
display: block;
margin: 0 auto;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus{
background: #404bbf;
}



/*--section2--*/


.box {
display: none;
justify-content: center;
align-items: center;
width: 264px;
height: 112px;
background-color: #F4F4FD;
border-radius: 4px;
border: 1px solid #8E8F99;
margin-bottom: 8px;
}


.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}


.features {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.container-features{
    padding-right: 16px;
    padding-left: 16px;
}

.features-item {
    display: flex;
    flex-wrap: wrap;
    /* row-gap: 48px;
    gap: 24px; */
    gap: 72px;
}

.features-item-list{
    /* width: calc((100% - 72px) / 4); */
    width: 100%;
}



.features-subtitle {
/* font-weight: 500; */
/* font-size: 20px; */
/* line-height: 24px;  */
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;


font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
color: #2e2f42;
}

.features-lead {
font-size: 16px;
/* line-height: 24px;  */
letter-spacing: 0.02em;
color: #434455;

line-height: 1.5;
font-weight: 500;
}



/* section icon */


.icons-list {
width: 40px;
height: 40px;
margin-top: 8px;
}

.icona-item {
display: flex;
justify-content: center;
align-items: center;
gap: 16px;
}

.icon-item{
    display: flex;
    gap: 24px;
}

.icons-link,
.icons-footer {
display: flex;
justify-content: center;
align-items: center;
background-color: #4D5AE5;
border-radius: 50%;
width: 100%;
height: 100%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.icons {
fill: #F4F4FD;
}

.icons-link:hover,
.icons-link:focus{
background-color: #404BBF;
}

.icons-footer:hover,
.icons-footer:focus{
background-color: #31D0AA;
}

/* section icon */



/*--section3--*/


.team {
background-color: #F4F4FD;
/* padding-top: 120px;
padding-bottom: 120px; */
padding-top: 96px;
padding-bottom: 96px;
}


.team-title {
text-transform: capitalize;
line-height: 1.11;
font-size: 36px;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}

.team-subtitle{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.team-lead{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}


.team-item {
text-align: center;
display: flex;
flex-wrap: wrap;
/* gap: 24px; */
gap: 72px;
}

.team-item-list{
background-color: #FFFFFF;
border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
/* width: calc((100% - 96px) / 3); */
width: 100%;
}

.team-item-list-card{
padding-bottom: 32px;
}

.team-item-img {
margin-bottom: 32px;
}



/*--section4--*/


.container-portfolio{
    padding-left: 16px;
    padding-right: 16px;
}


.portfolio-item-list{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-list:hover .portfolio-text-lead{
   transform: translateY(0%);
}

.portfolio-item-list:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-text{
    position: relative;
    overflow: hidden;
}

.portfolio-text-lead{
    background-color: #4d5ae5;
    color: #f4f4fd;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtitle{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-lead{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.portfolio {
/* padding-top: 120px;
padding-bottom: 120px; */
padding-top: 96px;
padding-bottom: 96px;
}



.portfolio-title {
margin-bottom: 72px;
}

.portfolio-item {
display: flex;
flex-wrap: wrap;
gap: 48px;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-list{
/* width: calc((100% - 48px) / 3); */
width: 100%;
}

.portfolio-item-list-card{
padding: 32px 16px;
border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc
}




/*--footer--*/


.footer {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
background: #2e2f42;
/* padding-top: 100px;
padding-bottom: 100px; */
padding-top: 96px;
padding-bottom: 96px;
}

.footer-link-logo {
display: inline-block;
font-family: "Raleway", sans-serif;
line-height: 1.17;
font-weight: 700;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-bottom: 16px;
}

.italic-footer{
color: #f4f4fd;
}


.footer-lead {
font-size: 16px;
line-height: 24px; 
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
margin-bottom: 72px;
}

.media{
margin: 0 auto;
    /* margin-right: 80px; */
}

.media-lead {
font-weight: 500;
font-size: 16px;

text-align: center;

line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
}

.cont-footer {
padding-left: 16px;
padding-right: 16px;
display: flex;
flex-wrap: wrap;
/* align-items: baseline; */
gap: 16px;
}

.information{
text-align: center;
margin: 0 auto;

/* margin-right: 120px; */
}

.subscribe {
display: flex;
flex-wrap: wrap;

/* flex-direction: column; */
}

.subscribe-lead{
font-weight: 500;

margin: 0 auto;

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-top: 72px;
margin-bottom: 16px;

}


.subscribe-form{
display: flex;
flex-wrap: wrap;
gap: 24px;
}

.input-mail {
border: 1px solid #fff;
border-radius: 4px;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
/* width: 264px; */

width: 288px;

height: 40px;
background-color: transparent;
padding: 16px;
outline: transparent;
color: #fff;
}

.input-mail:placeholder{
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #fff;
}

.subscribe-buttom {
display: flex;
/* justify-content: center;
align-items: center; */

margin: 0 auto;

font-family: "Roboto", sans-serif;
font-size: 16p;
font-weight: 500;
border: none;
border-radius: 4px;
padding: 8px 24px;
min-width: 165px;
height: 40px;
background-color: #4d5ae5;
color: #fff;
letter-spacing: 0.04em;
line-height: 1.5;
}

.send{
display: flex;
justify-content: center;
align-items: center;
fill: #fff;
margin-left: 16px;
}




/* --------modal--------- */


.backdrop{
position: fixed;
width: 100%;
height: 100%;
background: rgba(46, 47, 66, 0.4);
position: fixed;
top: 0;
left: 0;
z-index: 999;
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.is-open{
opacity: 1;
visibility: visible;
pointer-events: auto; 
}

.modal{
/* width: 408px; */

width: 288px;
min-height: 623px;

/* min-height: 584px; */

/* padding: 72px 24px 24px 24px; */

padding: 72px 16px 16px 16px;


/* margin-bottom: 8px; */
border-radius: 4px;
top: 50%;
left: 50%;
background-color: #fcfcfc;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
position: absolute;
transform: translate(-50% , -50%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button{
position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
display: flex;
justify-content: center;
align-items: center;
padding: 0;

border-radius: 50%;
background-color: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-button:hover,
.modal-button:focus{
    border: 0;
    background-color: #404bbf;
    fill: #FFFFFF;
}

.modal-button:hover .dagger,
.modal-button:focus .dagger{
    fill: #fff;
}

.dagger{
display: flex;
justify-content: center;
align-items: center;
fill: #2E2F42;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-title{
margin-bottom: 16px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.field{
margin-bottom: 8px;
}

.field-comment{
margin-bottom: 16px;
}

.field-checkbox{
margin-bottom: 24px;
}

.modal-label{
display: block;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;
}

.modal-input{
display: inline-block;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;

/* width: 360px; */

width: 256px;

height: 40px;
padding-left: 38px;
padding-right: 16px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
background-color: transparent;
}

.modal-input:focus{
border-color: #4d5ae5;
}

.modal-input:focus+.modal-icon{
fill: #4d5ae5;
}

.modal-input-icons{
position: relative;
}

.modal-icon{
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 16px;
fill: #2E2F42;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-textarea{
display: inline-block;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;

/* width: 360px; */

width: 256px;

min-height: 120px;
padding-left: 16px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
background-color: transparent;
padding: 8px 16px;
outline: transparent;
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-textarea:focus{
border-color: #4d5ae5;
}



.modal-check:checked + .polucy > .modal-box{
border-radius: 2px;
background-color: #404bbf;
border: 1px solid #404bbf;
fill: #f4f4fd;
border: none;
}


.modal-box{
display: inline-flex;
justify-content: center;
align-items: center;
width: 16px;
height: 16px;  
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
margin-right: 8px;
fill: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-link{
color: #4d5ae5;
}


.polucy{
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;

a{
line-height: 1.3;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}
}

.form-buttom{
display: block;
margin: 0 auto;
margin-top: 24px;

margin-bottom: 8px;

border-radius: 4px;
border: none;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;

padding: 16px 32px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
color: #FFFFFF;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





@media screen and (min-width: 768px) {
    .container{
        width: 768px;
        padding-left: 108px;
        padding-right: 108px;
    }

    .header{
        padding: 0;
    }

    .header .header-container{
        padding-top: 0;
        padding-bottom: 0;

        margin: 0 auto;
        justify-content: space-between;
    }


    .header-logo-link{
        margin-right: 120px;
    }

    .header-menu {
        display: flex;
    }


    .header-contacts {
        display: flex;
    }

    .header-menu-address {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header-contacts-item{
        padding: 0;
    }

    .menu-open{
        display: none;
    }



    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-office-tb-1.jpg);

        @media screen and (min-resolution: 2x),
            (-webkit-min-device-pixel-ratio: 2) {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-office-tb-2.jpg);
            }
    }


  .hero-container {
      padding-right: 136px;
      padding-left: 136px;
      margin: 0 auto;
  }

    .hero-title{
        font-weight: 700;
        font-size: 56px;
        line-height: 1.1;
        color: #fff;
        max-width: 496px;
        margin-bottom: 36px;

    }



    .container-features{
        padding-right: 16px;
        padding-left: 16px;
    }

    .features-item{
        gap: 72px 24px; 
    }

    .features-item-list{
        width: calc((100% - 24px) / 2);
    }

    .features-subtitle{
        text-align: start;
    }

    .team-item{
        row-gap: 64px;
        column-gap: 24px;
    }

    .team-item-list{
        width: calc((100% - 24px) / 2);
    }

    .container-portfolio{
        padding-left: 16px;
        padding-right: 16px;
    }

    .portfolio-item{
        gap: 72px 24px;
    }

    .portfolio-item-list{
        width: calc((100% - 24px) / 2);
    }

    .media{
        margin: 0;
    }

    .media-lead{
        text-align: left;
    }

    .information{
        text-align: left;
        margin-right: 24px;
        margin-left: 0;
    }

    .subscribe{
        flex-direction: column;
    }

    .subscribe-lead{
        margin-top: 0;
        margin-left: 0;
    }

    .modal{
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

    .modal-input{
        width: 360px;
    }

    .modal-textarea{
        width: 360px;
    }
}




@media screen and (min-width: 1158px) {
    .container{
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header .header-container{
        padding: 0 15px;
        justify-content: flex-start;
        margin: 0 auto;
    }

    .header-navigation{
        margin-right: 332;
    }

    .header-contacts{
        margin-left: 332px;
    }

    .header-logo-link{
        margin-right: 76px;
    }

    .header-menu-address{
        flex-direction: row;
        gap: 40px;
    }






    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-office-1.jpg);
        padding-top: 188px;
        padding-bottom: 188px;

        @media screen and (min-resolution: 2x),
            (-webkit-min-device-pixel-ratio: 2) {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-office-2.jpg);
            }
    }

    .hero-title{
        font-size: 56px;
        margin-bottom: 48px;
        margin: 0 auto 28px;
    }

    .box{
        display: flex;
    }

    .features{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .features-item{
        flex-wrap: nowrap;
        row-gap: 48px;
        gap: 24px;
    }

    .features-item-list{
        width: calc((100% - 72px) / 4);
    }

    .features-subtitle{
        font-weight: 500; 
        font-size: 20px; 
        line-height: 24px; 
    }

    .features-lead{
        line-height: 24px;
    }

    .team{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-item{
        flex-wrap: nowrap;      
        gap: 24px;
    }

    .team-item-list{
        width: calc((100% - 96px) / 3);
    }

    .portfolio{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-item-list{
        width: calc((100% - 48px) / 3);
    }


    .footer{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .media{
        margin-right: 80px;
    }

 

    .media-lead{
        text-align: left;
    }

    .cont-footer{
        margin-right: auto;
        margin-left: auto;
        flex-wrap: nowrap;
        gap: unset;
        align-items: baseline;
    }

    .information{
        margin-right: 120px;
    }

    .subscribe{
        flex-direction: column;
    }

    .subscribe-lead{
        margin-left: 0;
    }

    .input-mail{
        width: 264px;
    }

    .subscribe-buttom{
        justify-content: center;
        align-items: center;
    }

     .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
        
    .modal-input {
         width: 360px;
    }

    .modal-textarea {
        width: 360px;
    }
}
